/* poner letra de googlr font */
/* @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap'); */

/* selector universal */
*{
    list-style: none;
    margin: 0;
    padding: 0;
}



/* selectores (Etiqueta) */
body{
        background-color: #74766e;
    }
h1  {
        color:#b8400c;
        text-align: center;
    }
h1:hover{
    color: #000000;
}
    
    p   {
        color: #0e5c03;
            }

/* selectores (Id) */
#ultimoParrafo{ color: #ffffff;}

/* selectores (Class) */
.parrafoRojo{
    color: #b8400c;
    /* poner letra  */
    /* font-family: 'Palette Mosaic', cursive; */
}

/* selectores decendientes */

div p {
    color: #e1c32e;
}

p>strong{ color: #000000;}